@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Special Elite', 'cursive', sans-serif;
    --cell-size: 120px;
    --mark-size: calc(var(--cell-size) * 0.8);
}

body {
    font-family: var(--font-family);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 4rem;
    margin: 4rem 0;
}

#display-message-element {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.board {
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 3px;
    background-color: black;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    display: grid;
    place-items: center;
    position: relative;
    background-color: white;
}

.cell.cross,
.cell.circle {
    cursor: not-allowed;
}

.cell.cross::before,
.cell.cross::after {
    content: '';
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    position: absolute;
    background-color: black;
}

.cell.cross:before {
    transform: rotate(45deg);
}

.cell.cross::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.cell.cell.circle::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: white;
}

.player1 {
    margin-bottom: 1.2rem;
}

#display-result-element {
    display: none;
    font-size: 2.5rem;
    margin-top: 3rem;
}

button {
    font-family: var(--font-family);
    margin: 3rem 0;
    padding: 0.5rem;
    font-size: 1.3rem;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

#restart-btn {
    display: none;
}